// Color
//
// color-variables

// custom-start
$primary: #030341;
$secondary: #eaf5fc;
$white: #fff;
$black: #111;
$black-100: #1f2021;
// custom-end

// Settings for the `<body>` element.
$body-bg: $primary !default;
$body-color: $secondary !default;

// scss-docs-start color-variables
$gray-100: #f8f9fa !default;
$gray-900: #212529 !default;
$green: #198754 !default;
$cyan: #0ccae5 !default;
$yellow: #ffc107 !default;
$red: #dc3545 !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
// scss-docs-end theme-color-variables

// theme-colors-map
$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
  'white': $white,
  'black': $black,
  'black-100': $black-100
) !default;

// Spacing
//
// spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  2px: 2px,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4,
  20: $spacer * 5,
  24: $spacer * 6,
  25: $spacer * 6.25
) !default;

// Position
//
// Define the edge positioning anchors of the position utilities.

// scss-docs-start position-map
$position-values: (
  0: 0,
  50: 50%,
  100: 100%,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer * 0.75,
  4: $spacer,
  5: $spacer * 1.25,
  6: $spacer * 1.5,
  7: $spacer * 1.75,
  8: $spacer * 2,
  9: $spacer * 2.25,
  10: $spacer * 2.5,
  11: $spacer * 2.75,
  12: $spacer * 3,
  14: $spacer * 3.5,
  16: $spacer * 4,
  20: $spacer * 5,
  24: $spacer * 6,
  25: $spacer * 6.25
) !default;
// scss-docs-end position-map

// negative-position
$negative-spacers: negativify-map($spacers) !default;

// Font
//
// font-variables
$font-family-sans-serif: 'Noto Sans TC', sans-serif;
$font-family-sans-narrow: 'PT Sans Narrow', sans-serif;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
$h7-font-size: $font-size-base * 0.875;
$h8-font-size: $font-size-base * 0.75;

// font-sizes-map
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h6-font-size,
  8: $h6-font-size
);
